.headerNav {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 6rem;
  background-color: #021f39;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-family: "Fira", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd9494;
}

.logo a {
  text-decoration: none;
  color: #fd9494;
}

.navigation a {
  text-decoration: none;
  color: #fd9494;
  font-size: 1.5rem;
}

.btn {
  display: flex;
  flex-direction: row;
}
@media (max-width: 720px) {
  .logo {
    font-size: 1.5rem;
  }
  .headerNav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 2rem;
    height: 10rem;
    background-color: #021f39;
    width: 100vw;
  }

  .navigation a {
    font-size: 1.5rem;
  }
  .btn {
    display: flex;
    flex-direction: column;
  }
}
