.headerNav {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 6rem;
  background-color: #021f39;
}
.responsiveMenu {
  display: none;
}

.logo {
  color: white;
  font-family: "Fira", sans-serif;
  letter-spacing: 3px;
}
.navigation {
  width: auto;
}
.list {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.list button {
  margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
  .list {
    display: none;
    width: 100%;
  }
  .navigation {
    width: auto;
  }
  #nav-responsive {
    display: flex;

    align-items: inherit;
    z-index: 3;
    height: 100vh;
  }
  /* .logo {
    margin-top: 0;
  } */
  .responsiveMenu {
    display: flex;
    color: aliceblue;
  }
  .list-responsive {
    position: absolute;
    left: 0;
    width: 90%;
    display: flex;
    margin-top: 8rem;
    flex-direction: column;
    align-items: center;
  }
  .list-responsive button {
    margin-bottom: 3rem;
  }
}
