.btn {
  padding: 0;
  border: none;
  background: none;
  text-decoration: none;

  cursor: pointer;
  font: inherit;
  background-color: #b5838d;

  border-radius: 6px;

  color: #dafff7;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn:hover,
.btn:active {
  background-color: #e5989b;
  border-color: #e5989b;
}

@media only screen and (max-width: 600px) {
  .btn {
    font-size: 0.8rem;
    width: 8rem;
    text-decoration: none;
  }
}
