.container {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.selsePyament {
  display: flex;
  flex-direction: row;
}

.sales {
  padding-left: 5px;
  height: 470px;
}

.inputsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cashOutReason {
  display: flex;
  margin: auto;
}
@media (max-width: 768px) {
  .selsePyament {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .sales {
    height: auto;
    /* padding-left: 5px; */
  }
  .cashOutReason {
    display: flex;
    margin: auto;

    padding-left: 20px;
  }
}

.zoom {
  display: flex;
  background-color: #e63946;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
