.container {
  display: flex;

  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.charts {
  display: flex;
  justify-content: "center";
  align-items: center;
  flex-direction: column;
}

.selsePyament {
  display: flex;
  flex-direction: row;
}

.sales {
  padding-left: 5px;
  height: 470px;
}

.inputsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cashOutReason {
  display: flex;
  align-items: center;

  justify-content: center;
}

.alert {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 750px) {
  .container {
    margin-left: 4rem;
  }
  .inputsContainer {
    display: flex;
    align-items: center;

    justify-content: center;
  }
  .selsePyament {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: auto;
  }
  .sales {
    height: auto;
  }
  .cashOutReason {
    display: flex;

    justify-content: center;
  }
}

.zoom {
  display: flex;
  background-color: #e44c59;
  width: 300px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.recipesCard {
  display: flex;
  /* margin-top: 1rem; */
  margin: 1rem 0;
}
.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem 0;
}

.recipesSearsh {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reports {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media only screen and (max-width: 750px) {
  .reports {
    margin-left: 4rem;
  }
  .recipesSearsh {
    margin-left: 4rem;
  }
  .recipes {
    display: flex;
    margin-left: 4rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .recipesCard {
    margin-top: 2rem;
  }
  .zoom {
    width: 200px;
  }
}
